@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

        body {
            font-family: 'Josefin Sans';
            background-color: rgb(24, 24, 24);
            margin: 0px;
        }

        main {
            background-color: rgb(253, 255, 227);
            margin-top: 0px;
            margin-right: 5%;
            margin-left: 5%;
            padding-bottom: 0%;
            padding: 2% 2% 0em 2%;
            text-align: justify;
        }

        h1 {
            padding: 0%;
            text-align: center;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
        }
        
        h2 {
            background-image: linear-gradient(to right, rgba(179, 146, 0, 0.555), rgb(253, 255, 227));
            padding: 1%;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
        }

        h3 {
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
            font-size: 22px;
        }
        
        nav > p {
            text-align: center;
        }
        nav > a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            margin-right: 30px;
        }

        nav > a:hover {
            text-decoration: underline;

        }

        header {
            background-image: linear-gradient(to top, rgb(179, 146, 0), rgb(255, 238, 0));
            margin: 0px;
            padding: 2%;
        }

        .section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            background-color: #f0f0f0;
            padding: 5%;
            margin-top: 0%;
        }

        .titulo  > p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0%;
            padding: 0%;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        img:hover {
            transform: scale(1.05);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        }
        
        a {
            color: black;
            transition-duration: 0.3s;
        }

    

        a > p {
            
            color: black;
            background-color: rgba(143, 129, 0, 0.671);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            color: rgb(230, 226, 0);
        }

        .tag > p {
            margin: 5px;
            padding: 0%;
            font-size: 9px;
        }

        .container {
            display: flex;
            justify-content: space-around;
            height: 35vh;
            padding: 0%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        .image-container {
            display: flex;
            justify-content: justify;
            align-items: center;
            position: relative;
            overflow: hidden;
            width: 35vh;
            height: 35vh;
            padding: -10%;
            margin: 0%;
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95%;
            height: 95%;
            object-fit: cover;
            transition: transform 0.3s, box-shadow 0.3s;
            padding: -2%;
        }

        .image-container:hover .image {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            padding: -2%;
        }

        .image-container::before {
            padding: -2%;
            display: flex;
            justify-content: center;
            align-items: center;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.363);
            backdrop-filter: blur(5px);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .image-container:hover::before {
        opacity: 1;
        }

        .text {
            font-size: 1.6vh;
            display: flex;
            justify-content: justify;
            align-items: justify;
            position: absolute;
            top: 50%;
            left: 50%;
            padding-right: -10%;
            padding-left: -10%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: rgb(255, 255, 255);
            z-index: 5;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .image-container:hover .text {
            opacity: 1;
            box-shadow: 3 3 3 black;
        }

        .video > iframe {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }

        .video {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.589), rgb(39, 39, 39));
            margin-bottom: 30px;
            margin: 0px -33.5px;
            position: relative;
            padding-bottom: 50%;
        }

        ol {
            padding-top: 0%;
        }
    
        nav a {
             margin-right: 10px;
        }

        header {
            padding: 1%;
        }

        footer a {
            color: white;
        }
        footer {
            background-color: rgba(0, 0, 0, 0.63);
            color: white;
            text-align: center;
            font-size: 0.8em;
            padding: 5px;
            margin-bottom: 0px;
            margin: 0px -33.5px;
            position: flex;
        }

        footer a :hover {
            color: #dba800;
            text-decoration: none;

        }
        
        aside {
            background-color: #aa9759;
            padding: 4%;
            margin: 2%;
            border-radius: 10px;
        }

        aside p {
            font-size: 16px;
        }